@media (max-width: 800px) {
  #head_contact {
    display: none;
  }
  #head_mobile{
  	position: sticky;
  	top: 20px;
  	z-index: 99;
  }
}

.lista {
	list-style: none; /* Quitamos los marcadores */
	padding: 0; /* Quitamos el padding por defecto de la lista */
	margin-left: 10px; /* Separamos la lista de la izquierda */
}

.lista li::before { /* Añadimos contenido antes de cada elemento de la lista */
	content: "\2022"; /* Insertamos el marcador */
	padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
	color: #fff; /* Coloreamos la viñeta */
}

/*Firma Sergio Cova*/
@font-face {
  font-family: "covacode";
  src: url("../vendor/font/NothingYouCouldDo-Regular.ttf");
}

#firma{
  font-family: "covacode";
  text-decoration: none; 
  color: #000;
  font-size: 2.3em;
  vertical-align: middle;
}